$color-grey1: #ededed;
$color-grey2: #c5c5c5;
$color-grey3: #a1a1a1;
$color-grey4: #7a7a7a;
$color-grey5: #5f5f5f;
$color-black1: #131313;
$color-blue1: #81d0fd;
$color-blue2: #229faf;
$color-blue3: #1c8298;
$color-green1: #50dc48;
$color-green2: #4edb4b;
$color-green3: #0e9a07;
$color-green4: #056e00;
$color-pink1: #feb2fe;
$color-red-1: #9a1b49;
$color-purple1: #2101bd;
$color-gold1: #c4ae03;
