@import "../styles/variables.scss";
@import "../styles/mixins.scss";
.board {
  @include container-center;
  position: relative;
  grid-column: board-start/board-end;
  grid-row: board-start/board-end;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  outline: none;
  @include respond(sm) {
    border: 0;
  }
}
.row {
  width: 100%;
  margin: 0;
  display: flex;
}
.chevronUp,
.chevronDown,
.chevronLeft,
.chevronRight {
  color: rgba($color-grey1, 0.3);
  font-size: 8vw;
  position: absolute;
}

.chevronUp {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20vw 15vw 20vw;
}
.chevronDown {
  margin-top: 6px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 15vw 20vw 0 20vw;
}
.chevronLeft {
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  padding: 20vw 15vw 20vw 0;
}
.chevronRight {
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  padding: 20vw 0 20vw 15vw;
}
