.board {
  grid-column: 2/3;
  grid-row: board-start/board-end;
  border: 8px solid white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  @media (max-width: 42em) {
    border: 4px solid white;
  }
}

.row {
  width: 100%;
  margin: 0;
  display: flex;
}
.cell {
  height: 1rem;
  width: 1rem;
  opacity: 0.7;

  background-color: black;
  border: 1px dotted grey;
  margin: 0;
  @media (max-width: 55em) {
    height: 0.75rem;
    width: 0.75rem;
  }
  @media (max-width: 42em) {
    height: 0.5625rem;
    width: 0.5625rem;
    border: 0;
  }
  @media (max-width: 28em) {
    height: 0.4375rem;
    width: 0.4375rem;
    border: 0;
  }
}

.wall {
  background-color: darkslategray;
}
.floor {
  background-color: green;
}
.tunnel {
  background-color: darkgreen;
}
.corner {
  background-color: grey;
}
.door {
  background-color: brown;
}
.border {
  background-color: black;
}

.character {
  background-color: goldenrod !important;
}
.monster {
  background-color: orangered;
}
.item {
  background-color: teal;
}
.cellVisible {
  opacity: 1;
}
